include LICENSE
include CHANGELOG.rst
include README.rst
include examples/*.py
include src/*.c src/*.h
include build_pastream.py
include portaudio/include/portaudio.h portaudio/src/common/pa_ringbuffer.h portaudio/src/common/pa_memorybarrier.h